<a href="https://colab.research.google.com/github/eildes06/Randomlyworks/blob/main/worldhppines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("/content/2019.csv")
df

     Overall rank  ... Perceptions of corruption
0               1  ...                     0.393
1               2  ...                     0.410
2               3  ...                     0.341
3               4  ...                     0.118
4               5  ...                     0.298
..            ...  ...                       ...
151           152  ...                     0.411
152           153  ...                     0.147
153           154  ...                     0.025
154           155  ...                     0.035
155           156  ...                     0.091

[156 rows x 9 columns]

In [4]:
df.head()

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.153                      0.393
1             2           Denmark  ...       0.252                      0.410
2             3            Norway  ...       0.271                      0.341
3             4           Iceland  ...       0.354                      0.118
4             5       Netherlands  ...       0.322                      0.298

[5 rows x 9 columns]

In [5]:
df.tail()

     Overall rank  ... Perceptions of corruption
151           152  ...                     0.411
152           153  ...                     0.147
153           154  ...                     0.025
154           155  ...                     0.035
155           156  ...                     0.091

[5 rows x 9 columns]

In [7]:
df.shape

(156, 9)

In [8]:
df.describe()

       Overall rank       Score  ...  Generosity  Perceptions of corruption
count    156.000000  156.000000  ...  156.000000                 156.000000
mean      78.500000    5.407096  ...    0.184846                   0.110603
std       45.177428    1.113120  ...    0.095254                   0.094538
min        1.000000    2.853000  ...    0.000000                   0.000000
25%       39.750000    4.544500  ...    0.108750                   0.047000
50%       78.500000    5.379500  ...    0.177500                   0.085500
75%      117.250000    6.184500  ...    0.248250                   0.141250
max      156.000000    7.769000  ...    0.566000                   0.453000

[8 rows x 8 columns]

In [9]:
df.info

<bound method DataFrame.info of      Overall rank  ... Perceptions of corruption
0               1  ...                     0.393
1               2  ...                     0.410
2               3  ...                     0.341
3               4  ...                     0.118
4               5  ...                     0.298
..            ...  ...                       ...
151           152  ...                     0.411
152           153  ...                     0.147
153           154  ...                     0.025
154           155  ...                     0.035
155           156  ...                     0.091

[156 rows x 9 columns]>

In [10]:
df.dtypes

Overall rank                      int64
Country or region                object
Score                           float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [11]:
df.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

reterive one entire column

In [13]:
df["Generosity"]

0      0.153
1      0.252
2      0.271
3      0.354
4      0.322
       ...
151    0.217
152    0.276
153    0.158
154    0.235
155    0.202
Name: Generosity, Length: 156, dtype: float64

In [14]:
df.loc[:,["Country or region"]]

            Country or region
0                     Finland
1                     Denmark
2                      Norway
3                     Iceland
4                 Netherlands
..                        ...
151                    Rwanda
152                  Tanzania
153               Afghanistan
154  Central African Republic
155               South Sudan

[156 rows x 1 columns]

In [15]:
df.loc[:,["Country or region","Generosity"]].head()

  Country or region  Generosity
0           Finland       0.153
1           Denmark       0.252
2            Norway       0.271
3           Iceland       0.354
4       Netherlands       0.322

In [16]:
df.iloc[1:20]#from 1 to 19 (inculeded)

    Overall rank Country or region  ...  Generosity  Perceptions of corruption
1              2           Denmark  ...       0.252                      0.410
2              3            Norway  ...       0.271                      0.341
3              4           Iceland  ...       0.354                      0.118
4              5       Netherlands  ...       0.322                      0.298
5              6       Switzerland  ...       0.263                      0.343
6              7            Sweden  ...       0.267                      0.373
7              8       New Zealand  ...       0.330                      0.380
8              9            Canada  ...       0.285                      0.308
9             10           Austria  ...       0.244                      0.226
10            11         Australia  ...       0.332                      0.290
11            12        Costa Rica  ...       0.144                      0.093
12            13            Israel  ...       0.261                      0.082
13            14        Luxembourg  ...       0.194                      0.316
14            15    United Kingdom  ...       0.348                      0.278
15            16           Ireland  ...       0.298                      0.310
16            17           Germany  ...       0.261                      0.265
17            18           Belgium  ...       0.160                      0.210
18            19     United States  ...       0.280                      0.128
19            20    Czech Republic  ...       0.046                      0.036

[19 rows x 9 columns]

In [18]:
df.head(20)#from 0 to 19 (included)

    Overall rank Country or region  ...  Generosity  Perceptions of corruption
0              1           Finland  ...       0.153                      0.393
1              2           Denmark  ...       0.252                      0.410
2              3            Norway  ...       0.271                      0.341
3              4           Iceland  ...       0.354                      0.118
4              5       Netherlands  ...       0.322                      0.298
5              6       Switzerland  ...       0.263                      0.343
6              7            Sweden  ...       0.267                      0.373
7              8       New Zealand  ...       0.330                      0.380
8              9            Canada  ...       0.285                      0.308
9             10           Austria  ...       0.244                      0.226
10            11         Australia  ...       0.332                      0.290
11            12        Costa Rica  ...       0.144                      0.093
12            13            Israel  ...       0.261                      0.082
13            14        Luxembourg  ...       0.194                      0.316
14            15    United Kingdom  ...       0.348                      0.278
15            16           Ireland  ...       0.298                      0.310
16            17           Germany  ...       0.261                      0.265
17            18           Belgium  ...       0.160                      0.210
18            19     United States  ...       0.280                      0.128
19            20    Czech Republic  ...       0.046                      0.036

[20 rows x 9 columns]

In [19]:
df.iloc[0:10,0:3]

   Overall rank Country or region  Score
0             1           Finland  7.769
1             2           Denmark  7.600
2             3            Norway  7.554
3             4           Iceland  7.494
4             5       Netherlands  7.488
5             6       Switzerland  7.480
6             7            Sweden  7.343
7             8       New Zealand  7.307
8             9            Canada  7.278
9            10           Austria  7.246

In [20]:
df.iloc[[0,10,40,70,140],[0,1,6]]

     Overall rank Country or region  Freedom to make life choices
0               1           Finland                         0.596
10             11         Australia                         0.557
40             41        Uzbekistan                         0.631
70             71           Moldova                         0.245
140           141           Liberia                         0.370

Groupby

In [21]:
df.groupby(["Country or region","Overall rank"])

In [22]:
df.groupby(["Country or region","Overall rank"]).sum()

                                Score  ...  Perceptions of corruption
Country or region Overall rank         ...
Afghanistan       154           3.203  ...                      0.025
Albania           107           4.719  ...                      0.027
Algeria           88            5.211  ...                      0.114
Argentina         47            6.086  ...                      0.050
Armenia           116           4.559  ...                      0.064
...                               ...  ...                        ...
Venezuela         108           4.707  ...                      0.047
Vietnam           94            5.175  ...                      0.073
Yemen             151           3.380  ...                      0.077
Zambia            138           4.107  ...                      0.087
Zimbabwe          146           3.663  ...                      0.089

[156 rows x 7 columns]

In [23]:
df.groupby(["Country or region","Overall rank","Score"]).sum()

                                      GDP per capita  ...  Perceptions of corruption
Country or region Overall rank Score                  ...
Afghanistan       154          3.203           0.350  ...                      0.025
Albania           107          4.719           0.947  ...                      0.027
Algeria           88           5.211           1.002  ...                      0.114
Argentina         47           6.086           1.092  ...                      0.050
Armenia           116          4.559           0.850  ...                      0.064
...                                              ...  ...                        ...
Venezuela         108          4.707           0.960  ...                      0.047
Vietnam           94           5.175           0.741  ...                      0.073
Yemen             151          3.380           0.287  ...                      0.077
Zambia            138          4.107           0.578  ...                      0.087
Zimbabwe          146          3.663           0.366  ...                      0.089

[156 rows x 6 columns]

In [24]:
df.head

<bound method NDFrame.head of      Overall rank  ... Perceptions of corruption
0               1  ...                     0.393
1               2  ...                     0.410
2               3  ...                     0.341
3               4  ...                     0.118
4               5  ...                     0.298
..            ...  ...                       ...
151           152  ...                     0.411
152           153  ...                     0.147
153           154  ...                     0.025
154           155  ...                     0.035
155           156  ...                     0.091

[156 rows x 9 columns]>

In [25]:
df.shape

(156, 9)

In [27]:
df2=df[df["Overall rank"]<=100]
df2

    Overall rank Country or region  ...  Generosity  Perceptions of corruption
0              1           Finland  ...       0.153                      0.393
1              2           Denmark  ...       0.252                      0.410
2              3            Norway  ...       0.271                      0.341
3              4           Iceland  ...       0.354                      0.118
4              5       Netherlands  ...       0.322                      0.298
..           ...               ...  ...         ...                        ...
95            96          Cameroon  ...       0.187                      0.037
96            97          Bulgaria  ...       0.081                      0.004
97            98             Ghana  ...       0.245                      0.040
98            99       Ivory Coast  ...       0.154                      0.090
99           100             Nepal  ...       0.285                      0.089

[100 rows x 9 columns]

In [28]:
df2.shape

(100, 9)

In [29]:
df2=df[df["Overall rank"]>=140]
df2

     Overall rank  ... Perceptions of corruption
139           140  ...                     0.085
140           141  ...                     0.033
141           142  ...                     0.078
142           143  ...                     0.041
143           144  ...                     0.093
144           145  ...                     0.180
145           146  ...                     0.089
146           147  ...                     0.110
147           148  ...                     0.100
148           149  ...                     0.141
149           150  ...                     0.089
150           151  ...                     0.077
151           152  ...                     0.411
152           153  ...                     0.147
153           154  ...                     0.025
154           155  ...                     0.035
155           156  ...                     0.091

[17 rows x 9 columns]

In [31]:
df2.shape

(17, 9)

In [33]:
df2.head()

     Overall rank Country or region  ...  Generosity  Perceptions of corruption
139           140             India  ...       0.200                      0.085
140           141           Liberia  ...       0.233                      0.033
141           142           Comoros  ...       0.275                      0.078
142           143        Madagascar  ...       0.169                      0.041
143           144           Lesotho  ...       0.107                      0.093

[5 rows x 9 columns]

In [35]:
names= df.loc[df["Overall rank"]<35, "Country or region"]
names

0                  Finland
1                  Denmark
2                   Norway
3                  Iceland
4              Netherlands
5              Switzerland
6                   Sweden
7              New Zealand
8                   Canada
9                  Austria
10               Australia
11              Costa Rica
12                  Israel
13              Luxembourg
14          United Kingdom
15                 Ireland
16                 Germany
17                 Belgium
18           United States
19          Czech Republic
20    United Arab Emirates
21                   Malta
22                  Mexico
23                  France
24                  Taiwan
25                   Chile
26               Guatemala
27            Saudi Arabia
28                   Qatar
29                   Spain
30                  Panama
31                  Brazil
32                 Uruguay
33               Singapore
Name: Country or region, dtype: object

In [36]:
names.head()

0        Finland
1        Denmark
2         Norway
3        Iceland
4    Netherlands
Name: Country or region, dtype: object

In [ ]:
data=pd.read_csv("")